<h1>Services</h1>
<%= link_to "Request a service", new_service_path %>
<% @services.each do |service| %>
    <div class="service-listing">
        <h2><%= service.title %></h2>
        <p><%= service.location %></p>
        <p><%= service.description %></p>
    </div>
<% end %>