<h1>Welcome to the Services Portal!</h1>
  
<% unless user_signed_in? %>
  <p>This is a place where people can create job advertisements 
  and bid on them. It makes finding workers for short
  term jobs and vice-versa as easy as possible!</p>
<% end %>