<h1>Welcome to the Services Portal!</h1>
  
<% unless user_signed_in? %>
  <p>This is a place for people can create job advertisements 
  and people can bid on them. It makes finding workers for short
  term jobs as easy as possible!</p>
<% end %>